        @font-face {
  font-family: "Oswald";
  font-style: sans-serif;
  font-weight: 400; }
        
        :root {
            font-size: 10px;
        }

        body {
            font-family: 'Oswald', sans-serif;
            background: url(https://bootstraptema.ru/images/bg/bg-1.png)
        }

        .m-b-20 {
            margin-bottom: 20px
        }

        .quote {
            position: relative;
        }

        .quote blockquote {
            padding: 0px;
            border: 0;
            margin: 0;
            font-size: 14px;
            font-style: italic;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            border-radius: 8px;
        }

        .quote blockquote div {
            color: #fff;
            padding-top: 25px;
            padding-bottom: 45px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .quote blockquote:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 90%;
            width: 0;
            height: 0;
            border-top: 0.83333em solid #ccc;
            border-right: 0.86667em solid transparent;
        }

        .quote.green blockquote {
            background-color: #32c5d2;
        }

        .quote.green blockquote:before {
            border-top-color: #32c5d2;
        }

        .quote.dark blockquote {
            background-color: #555;
        }

        .quote.dark blockquote:before {
            border-top-color: #555;
        }

        .quote-footer {
            margin: 10px 0;
        }

        /* .quote-footer .quote-author-img img {
        float: left;
        max-width: 90px;
        width: 90px;
        height: 90px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        margin-left: -5px;
        margin-top: -40px;
        position: relative;
        z-index: 1;
        padding: 5px;
        background-color: #fff;
    } */

        .quote-footer h4 {
            font-size: 14px;
            /* margin-bottom: 4px; */
        }

        .quote-footer p {
            font-weight: 400;
            font-style: italic;
            font-size: 14px;
        }

        h2,
        h3,
        h4,
        h5 {
            padding: 0px;
            margin: 0px;
            font-size: 2rem;
            text-align: start;

        }

        .flex {
            display: flex;
        }

        .marg-right {
            margin-right: 2rem;
        }

        .right {
            display: inline-flex;
            width: 90%;
            justify-content: right;
        }
.center {
    display: flex;
    justify-content: center;
    margin: 2rem
    /* margin: auto */
}
    
.border {

    border: 2px solid black;
    /* margin: auto; */
    
}

.button {
    margin-left: 1rem;
    margin-right: 1rem
}

.borderComm {
     border: 1px solid blue;
     background-color: gray;
     width: 70%;
     margin: 2rem auto;
     padding: 2rem 4rem
} 

.bold {
font-size: 1.5rem;
font-weight: 700;
}

.name {
 
}
.comm {

}
.idComm {

}
.email {

}